*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Noto Sans", sans-serif;
}

a{
    color: black;
}

header, .presentation, .portfolio, article div, footer, .footer-nav, .footer-nav p, .skills-content, .item-info{
    display: flex;
}


header{
    padding: 15px 10px 15px 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(6, 56, 131, 0.822);
    color: white;
}

img{
    width: 100%;
}

header h1{
    font-weight:900;
    font-size: 1.5rem;
    margin: 0.5rem 0 1.5rem 0;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    margin: 0 0 3.5% 0;
}

nav a{
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 900;
    color: white;
}

nav a:hover{
    color: rgba(255, 187, 0, 0.925);

}

/*Main content*/

main{
    padding: 3rem;
    max-width: 1650px;
    margin: auto;
}


.presentation{
    width: 100%;
    flex-direction: column;
    align-items: center;

    margin: 1.5rem 0 6.5rem 0;
}

.personal-photo{
    width: 60%;
    margin: 0 0 1.5rem 0;
}

.presentation p{
    font-size: calc(1rem + 0.5vw);
    width: calc(80% + 5vw);
    /* font-size: 1.3125rem; */
    /* font-size: 21px; */
    text-align: center;
}

.portfolio{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: calc(1.15rem + 0.4vw);
    font-weight: 900;
    margin-bottom: 20%;
    text-align: center;
}



article img{
    margin-bottom: 1.5rem;
}

article div h3{
    font-family: "Roboto Mono", monospace;
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgba(6, 56, 131, 0.822);
}

article div{
    flex-direction: column;
    align-items: center;

}

article div p{
    font-size: calc(1rem + 0.5vw);
    width: 100%;
}

footer{
    flex-direction: column;
    align-items: center;
    background-color: rgba(6, 56, 131, 0.822);
    color: white;
}

footer h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

.info-footer{
    text-align: center;
    font-size: 1.2rem;
    width: 75%;
    margin-bottom: 2rem;
}

.contacts{
    margin-bottom:3rem;
    width: 100%;
    text-align: center;
}

.contacts p{
    font-size: 1.2rem;
}

span{
    font-weight: 700;
    margin-left: 4%;
}

hr{
    width: 90%;
    border: 0px;
    height: 1px;
    background-color: lightgray;
}

.footer-nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7rem;
}

.contacts>:first-child{
    margin-bottom: 1.5rem;
}

.footer-nav p{
    align-items: center;
}

.tbl-dsk-nav{
    display: none;
}


.skills{
    margin: 10% 0 10% 0;	
}


.skills-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    row-gap: 2rem;
}

.skills-item{
    width: 80%;
    max-width: 1200px;
}

.item-info{
    width: 100%;
    justify-content: space-between;
}

.item-info p{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.bar{
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: lightgray;
    border-radius: 25px;
}

.item1 .progressbar{
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: red;
    border-radius: 25px;
}

.item2 .progressbar{
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: red;
    border-radius: 25px;
}

.item3 .progressbar{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: red;
    border-radius: 25px;
}

@media screen and (min-width:768px){

    nav {
        width: 100%;
        text-align: center;
    }

    nav ul, .presentation, .tbl-dsk-nav{
        display: flex;
    }
    
    nav ul{
        list-style: none;
        justify-content: center;
        gap: 1.5rem;
    }
    
    nav ul li{
        width: auto;
        margin:0;
        padding: 0.8rem 0.3rem;
    }

    .presentation{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 1.5rem 0 6.5rem 0;
        align-items:flex-start
    }
    
    .personal-photo{
        margin: 0;
        width: 42%;
    }
    
    .presentation p{
        width: calc(50% + 5vw);
        text-align: left;
        margin-right: auto;
    }

    h2{
        margin-bottom: 10%;
    }
        
    .portfolio{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4%;
        row-gap: 4rem;
        align-items: stretch;
    }
    

    .portfolio article{
        height: auto;
        flex: 0 0 48%;
    }

    article div p{
        font-size: calc(1rem + 0.2vw);
    }

    .mobile-nav{
        display: none;
    }
}

@media screen and (min-width:1024px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 1.2rem;
    }

    header h1{
        width:21%;
        margin: 0;
    }

    nav{
        width: auto;
    }

    .presentation p{
        width: calc(50% + 5vw);
    }

    nav ul{
        justify-content:initial /*reset justify-content to flex-start*/
    }

    h2{
        margin-bottom: 7%;
    }

    .portfolio article{
        flex: 1 0 25%;
    }

    article div p{
        font-size: calc(1rem + 0.2vw);
    }

    hr{
        width: 96%;
    }

    .footer-nav{
        width: 100%;
    }
}